/* accountCard.css */

.account-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  
 
}

.account-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #12002b;
}

.account-card-header .account-balance {
  font-size: 2rem;
  font-weight: bold;
  color: #12002b; 
  margin: 10px 0;
}

.account-card-header .account-balance-label {
  font-size: 1rem;
  color: #12002b;
}

.account-card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

@media (max-width: 720px) {
  .account-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  

  
}
